* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header {
    width: 100%;
    background-color: #53389E;
}



a {
    text-decoration: none;
}


.allcontainer {
    display: flex;
    flex-direction: column;
    background-color: #53389E;
}




/* header */


nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 18px;
    max-width: 1280px;
    width: 100%;
}



.headerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}



.ancorstyle {
    display: flex;
    align-items: center;
    gap: 4px;
}


.ancorstyle a {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}


.headerimg {
    display: flex;
    align-items: center;
    gap: 10px;
}




.ancorheaderdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



.buttondivstyle {
    display: flex;
    gap: 12px;
    align-items: center;
}



.buttonlogin {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background-color: #FFF;
    border: none;
    color: #414651;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}





.buttonsignup {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background-color: #7F56D9;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}




/* main */


.maincontauner {
    display: flex;
    flex-direction: column;
    background-color: #53389E;
}



.maindivcolor {
    display: flex;
    flex-direction: column;
    gap: 64px;
}




.textdiv {
    display: flex;
    flex-direction: column;
    gap: 48px;
}




.paragrapClass {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}



.SuperClass {
    color: #E9D7FE;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}




.bankingClass {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-weight: 600;
    line-height: 90px;
    max-width: 700px;
    width: 100%;
}




.SimpleClass {
    color: #E9D7FE;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}




.buttonClass {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}



.buttonimg {
    color: #414651;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    padding: 16px 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}




.button-sing {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    padding: 16px 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background-color: #7F56D9;
    border: none;
    cursor: pointer;
}




.cardsClass {
    display: flex;
    justify-content: center;
}


.cardsClass img {
    width: 100%;
}



/*  */



.maindivallcolor {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFF;
}







.maincompanidiv {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 96px 0px;
}




.companilogostylediv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}




.companilogo {
    display: flex;
    align-items: center;
    gap: 10px;
}




/*  */




.mainbigtextdiv {
    display: flex;
    padding: 96px 0px;
    flex-direction: column;
    background-color: #F2EDFF;
}


.maintexts {
    display: flex;
    gap: 64px;
    justify-content: center;
    flex-wrap: wrap;
}



.onemaintext {
    display: flex;
    flex-direction: column;
    gap: 20px;
}




.theClass {
    color: #181D27;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    max-width: 350px;
    width: 100%;
}




.SpendClass {
    color: #535862;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 350px;
    width: 100%;
}




/*  */


.teamtextsClass {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.teamtexts {
    display: flex;
    gap: 64px;
}



.teaminboxClass {
    display: flex;
    flex-direction: column;
    gap: 8px;
}




.shareClass {
    color: #181D27;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}




.WhetherClass {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 307px;
    width: 100%;
}




/*  */


.dashboardClass {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: #FFF;
    padding: 40px 40px 96px 40px;
}



.dashboardtextClass {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}




.FeaturesClass {
    color: #6941C6;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}



.financeClass {
    color: #181D27;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}




.getClass {
    color: #535862;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 650px;
    width: 100%;
}





/*  */




.textsandimagesClass {
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}




.alltextsClass {
    display: flex;
    flex-direction: column;
}



.inboxesClass {
    display: flex;
    flex-direction: column;
    gap: 24px;
}




.teamClass {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: 4px solid #9E77ED;
    padding: 16px 0px 16px 24px;
}


.secondteamClass {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0px 16px 24px;
}



.sharedClass {
    color: #181D27;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}



.haveClass {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 450px;
    width: 100%;
}





.textandlogo {
    display: flex;
    align-items: center;
    gap: 6px;
}



.LearnClass {
    color: #6941C6;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}




/*  */



.imagesdiv {
    background-image: url(images/Screenmockuplightmode\(REPLACE\).svg);
    width: 684px;
    height: 673px;
    background-repeat: no-repeat;
    background-position: right bottom;
}



/*  */


.bacicplansalediv {
    display: flex;
    padding: 96px 0px;
    justify-content: center;
    gap: 64px;
    background-color: #F2EDFF;
    flex-wrap: wrap;
}




.saletextdiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}




.firstdiv {
    display: flex;
    flex-direction: column;
    gap: 12px;
}




.UpgradeClass {
    color: #6941C6;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}



.pricingClass {
    color: #181D27;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}




.transparentClass {
    color: #535862;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}



.salebonus {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}



.salediv {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid #E9EAEB;
    background-color: #FFF;
}



.textssale {
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.imagesandtextsdiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}



.zapstyle {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background: #F4EBFF;
}



.BasicClass {
    color: #6941C6;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}




.chevronandtext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}




.iconandtexts {
    display: flex;
    align-items: center;
    gap: 12px;
}



.ptextsClass {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.buttondiv {
    display: flex;
    padding: 32px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-top: 1px solid #E9EAEB;
}


.hetbutton {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background-color: #7F56D9;
    cursor: pointer;
    border: none;
    width: 242px;
}




.bildandmth {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}



.mthClass {
    color: #181D27;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}



.BilledClass {
    color: #535862;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



/*  */




.chatacterandtextdiv {
    display: flex;
    padding: 96px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #FFF;
}




.textsClassandcharagter {
    display: flex;
}


.icontexts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #53389E;
    padding: 64px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}



.secondClass {
    display: flex;
}



.alltextsdiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.stariconandtexts {
    display: flex;
    gap: 4px;
}



.loveClass {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    max-width: 540px;
    width: 100%;
}




.text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.ReneeClass {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}




.ProductClass {
    color: #E9D7FE;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.Paginationimg {
    display: flex;
    gap: 16px;
}



.charagterClass img {
    display: flex;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}





/* footer */


.footercontainer {
    display: flex;
    padding: 64px 96px;
    flex-direction: column;
    gap: 64px;
    align-self: stretch;
    background-color: #FAFAFA;
}



.firstfooterdiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.imagesfooterdiv {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}



.logoimgdiv {
    display: flex;
    gap: 10px;
    align-items: center;
}



.DesignClass {
    color: #535862;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 270px;
    width: 100%;
}



/*  */




.secondfooterdiv {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    flex-wrap: wrap;
}


.fourfooterdiv {
    display: flex;
    padding: 0px 40px 0px 0px;
}


.alltextsfooter {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 80px 0px 0px;
}



.textsstylefooter {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.boldtexts {
    color: #181D27;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}



.footertexts {
    color: #6941C6;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}



/*  */


.emailinputdiv {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.stayClass {
    color: #181D27;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}



.inputandbuttonstyle {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}




.emailClass {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #7F56D9;
    background-color: #FFF;
    box-shadow: 4px 4px 20.9px 0px rgba(127, 86, 217, 0.25);
}



.buttonsubscribe {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    padding: 7px 14px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background-color: #7F56D9;
    border: none;
    cursor: pointer;
}




.lastfooterdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    flex-wrap: wrap;
    border-top: 1px solid #E9EAEB;
}



.footerlasttexts {
    display: flex;
    gap: 16px;
    align-items: center;
}





.lasttexts {
    color: #717680;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}




.UntitledClass {
    color: #717680;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



/*  */

.burgermenue {
    display: none;
}

/*  */






/* phone */

.phonediv {
    display: none;
}

/* phone */











































































/* table */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .ancorheaderdiv,
    .buttondivstyle {
        display: none;
    }


    .burgermenue {
        display: flex;
        cursor: pointer;
    }

    .teamtexts {
        flex-direction: column;
    }


    .textsandimagesClass {
        flex-wrap: nowrap;
    }

    .imagesdiv {
        background-position: initial;
    }


    .bacicplansalediv {
        flex-direction: column;
        align-items: center;
    }


    .secondClass {
        flex-direction: column;
    }



    .icontexts {
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        border-bottom-left-radius: initial;
    }



    .charagterClass img {
        width: 100%;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
        border-top-right-radius: initial;
    }


    .firstfooterdiv {
        gap: 48px;
    }

    .secondfooterdiv {
        flex-direction: column-reverse;
    }

    .phonediv {
        display: none;
    }

}

/* table */






/* smart phone */

@media screen and (max-width: 768px) {
    .burgermenue {
        display: flex;
        cursor: pointer;
    }


    .ancorheaderdiv,
    .buttondivstyle {
        display: none;
    }




    .bankingClass {
        color: #FFF;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        max-width: 270px;
        width: 100%;
    }


    .SimpleClass {
        max-width: 300px;
        width: 100%;
    }


    .buttonClass {
        flex-direction: column;
    }


    .buttonimg,
    .button-sing {
        width: 267px;
    }



    .companilogostylediv {
        flex-direction: column;
    }



    .onemaintext {
        padding: 0px 16px;
    }



    .teamtexts {
        flex-direction: column;
    }



    .imagesdiv {
        background-image: url(images/Modernscreenmockup.svg);
        background-position: initial;
        height: 300px;
    }




    .salebonus {
        flex-wrap: nowrap;
        flex-direction: column;
    }


    .saletextdiv {
        padding: 0px 16px;
    }


    .chatacterandtextdiv {
        padding: 96px 16px;
    }



    .secondfooterdiv {
        flex-direction: column-reverse;
    }



    .inputandbuttonstyle {
        flex-direction: column;
    }


    .buttonsubscribe {
        width: 190px;
    }


    .fourfooterdiv {
        flex-direction: column;
        gap: 24px;
    }



    .alltextsfooter {
        padding: initial;
    }


    .alltextsfooter {
        padding: initial;
    }



    .firstfooterdiv {
        flex-wrap: nowrap;
        flex-direction: column;
    }




    











    .icontexts {
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        border-bottom-left-radius: initial;
    }



    .charagterClass img {
        width: 100%;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
        border-top-right-radius: initial;
    }


    .bacicplansalediv {
        flex-direction: column;
        align-items: center;
    }


    .secondClass {
        flex-direction: column;
    }

}

/* smart phone */